body {
  background-color: black;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: white;
}

h3 {
  text-decoration: underline;
  font-size: large;
}

p {
  text-align: center;
  font-size: small;
}

.sec_1 {
  color: red;
  text-decoration: line-through;
  font-weight: bold;
}

.sec_2 {
  color: blue;
  text-decoration: overline;
  font-weight: bolder;
}

.sec_3 {
  color: green;
  text-decoration: overline;
  font-weight: lighter;
}
